
{{#if posts.length }}
  <table class="table">
    <thead>
      <tr>
        <th>Score</th>
        <th>Title</th>
        <th>Body</th>
        <th>Username</th>
      </tr>
    </thead>
    <tbody>
      {{#each posts as |post| }}
      <tr>
        <td>
          <a href="/posts/{{ post.id }}">{{ post.score }}</a>
        </td>
        <td>
          <a href="/posts/{{ post.id }}">{{ post.title }}</a>
        </td>
        <td>
          <a href="/posts/{{ post.id }}">{{ post.text }}</a>
        </td>
        <td>
          <a href="/posts/{{ post.id }}">{{ post.user }}</a>
        </td>
      </tr>
      {{/each }}
    </tbody>
  </table>
{{else }}
  <p class="text-danger">No posts</p>
{{/if }}
